{% extends 'base.html' %}
{% load static %}

{% block banner %}
    <div class="cristal" xmlns="http://www.w3.org/1999/html"></div>
{% endblock %}
{% block tittle %}
    Acerca De
{% endblock %}
{% block spaceApp %}
    <div class="container-md limitSpace">
        <div class="row">
            <picture class="framePhotoLeft framePhoto">
                <img alt="b" class="img" src="{% static 'web/img/WhatsApp Image 2021-11-10 at 11.21.56 PM.jpeg' %}">
            </picture>
            <article class="textRigth">
                <p>TECHMATH es una plataforma digital en la cual se puede realizar evaluación los diferentes métodos de localización de raíces reales en una función, este fue diseñado mediante el lenguaje de programación Python y trabajado desde el desarrollador de códigos Pychard, a través de este podemos visualizar métodos de interpolación, extrapolación y ajustes de curvas como son: Ajuste lineal, Exponencial, Geométrica, Hiperbólico, Polinómica (hasta un 4to grado), Media Móvil, Exponencial Asintótico, Logístico, Logarítmico y Potencial.
                </p>
            </article>
        </div>
        <div class="row">
            <article class="textLeft">
                <p>
                    A demás, para la creación de esta plataforma también utilizamos algunas herramientas “extensiones” las cuales nos ayudaron a complementar y lograr la realización de este mismo, teniendo una vista HTML compacta, sencilla y por supuesto que fuese amigable con el usuario. Por medio de este, al ingresar el usuario puede seleccionar el método al que desee hallar una solución y de manera inmediata, en tiempo real se puede visualizar la solución encontrada y las gráficas de la misma.
                </p>
            </article>
            <picture class="framePhotoRigth framePhoto">
                <img class="img" src="{% static 'web/img/WhatsApp Image 2021-11-10 at 11.21.57 PM.jpeg' %}">
            </picture>
        </div>
        <div class="row">
            <picture class="framePhotoLeft framePhoto">
                <img class="img" src="{% static 'web/img/WhatsApp Image 2021-11-10 at 11.26.17 PM.jpeg' %}">
            </picture>
            <article class="textRigth">
                <p >
                    Por otro lado, esta plataforma digital fue desarrollada por los estudiantes Álvarez Pico Oscar Andrés, Blanquicet Angulo Raúl Andrés, Berrio Orozco Alejandro Luis y Vélez Santo Luis Enrique, cursando el quinto semestre de ingeniería de sistemas y siendo presentado como proyecto final de la materia análisis de técnicas numéricas de la Corporación universitaria del caribe CECAR, todos los derechos reservados 2021 ©.
                </p>
            </article>
        </div>

        <div class="row textAlingCenter">
            <h4>
                Desarrollado por:
            </h4>
            <h3>Oscar Andres Alvarez</h3>
            <h3>Alejandro Luis Berrio</h3>
            <h3>Jose Raul Blanquicett</h3>
            <h3>Luis Enrique Velez</h3>

        </div>
    </div>
{% endblock %}