{% extends 'base.html' %}
{% load static %}

{% block banner %}
    <div class="cristal" xmlns="http://www.w3.org/1999/html"></div>
{% endblock %}

{% block spaceApp %}
    <div class="container-md limitSpace">
        <div class="row">
            <picture class="framePhotoLeft framePhoto">
                <div class="img"></div>
            </picture>
            <article class="textRigth">
                <p >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac urna ornare, cursus massa non, eleifend justo. Morbi commodo eu leo a ultrices. Sed pellentesque convallis
                    hendrerit. Nam quis volutpat libero, in pellentesque ex. Morbi nisi lectus, interdum vitae nisl quis, gravida tristique leo. Donec felis ex, bibendum ut mollis sodales, porta vel felis. Ut placerat et orci sit amet ullamcorper. Aliquam lobortis convallis dui ac
                    pharetra. Nam nisl nisi, commodo at pretium ac, posuere at risus. Phasellus nulla sapien, tempor nec enim non, egestas congue tortor. Sed feugiat metus nisi, consequat maximus mi
                    dictum sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ut nunc urna. Sed mollis orci ac neque tristique, eu pulvinar sapien ornare.
                </p>
            </article>
        </div>
        <div class="row">
            <article class="textLeft">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac urna ornare, cursus massa non, eleifend justo. Morbi commodo eu leo a ultrices. Sed pellentesque convallis
                    hendrerit. Nam quis volutpat libero, in pellentesque ex. Morbi nisi lectus, interdum vitae nisl quis, gravida tristique leo. Donec felis ex, bibendum ut mollis sodales, porta vel felis. Ut placerat et orci sit amet ullamcorper. Aliquam lobortis convallis dui ac
                    pharetra. Nam nisl nisi, commodo at pretium ac, posuere at risus. Phasellus nulla sapien, tempor nec enim non, egestas congue tortor. Sed feugiat metus nisi, consequat maximus mi
                    dictum sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ut nunc urna. Sed mollis orci ac neque tristique, eu pulvinar sapien ornare.
                </p>
            </article>
            <picture class="framePhotoRigth framePhoto">
                <div class="img"></div>
            </picture>
        </div>
        <div class="row">
            <picture class="framePhotoLeft framePhoto">
                <div class="img"></div>
            </picture>
            <article class="textRigth">
                <p >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac urna ornare, cursus massa non, eleifend justo. Morbi commodo eu leo a ultrices. Sed pellentesque convallis
                    hendrerit. Nam quis volutpat libero, in pellentesque ex. Morbi nisi lectus, interdum vitae nisl quis, gravida tristique leo. Donec felis ex, bibendum ut mollis sodales, porta vel felis. Ut placerat et orci sit amet ullamcorper. Aliquam lobortis convallis dui ac
                    pharetra. Nam nisl nisi, commodo at pretium ac, posuere at risus. Phasellus nulla sapien, tempor nec enim non, egestas congue tortor. Sed feugiat metus nisi, consequat maximus mi
                    dictum sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ut nunc urna. Sed mollis orci ac neque tristique, eu pulvinar sapien ornare.
                </p>
            </article>
        </div>
        <div class="row">
            <article class="textLeft">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac urna ornare, cursus massa non, eleifend justo. Morbi commodo eu leo a ultrices. Sed pellentesque convallis
                    hendrerit. Nam quis volutpat libero, in pellentesque ex. Morbi nisi lectus, interdum vitae nisl quis, gravida tristique leo. Donec felis ex, bibendum ut mollis sodales, porta vel felis. Ut placerat et orci sit amet ullamcorper. Aliquam lobortis convallis dui ac
                    pharetra. Nam nisl nisi, commodo at pretium ac, posuere at risus. Phasellus nulla sapien, tempor nec enim non, egestas congue tortor. Sed feugiat metus nisi, consequat maximus mi
                    dictum sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ut nunc urna. Sed mollis orci ac neque tristique, eu pulvinar sapien ornare.
                </p>
            </article>
            <picture class="framePhotoRigth framePhoto">
                <div class="img"></div>
            </picture>
        </div>
        <div class="row textAlingCenter">
            <h4>
                Desarrollado por:
            </h4>
            <h3>Oscar Andres Alvarez</h3>
            <h3>Alejandro Luis Berrio</h3>
            <h3>Jose Raul Blanquicett</h3>
            <h3>Luis Enrique Velez</h3>


        </div>
    </div>
{% endblock %}