{% extends 'base.html' %}
{% load static %}

{% block banner %}
    <div class="cristal"></div>
{% endblock %}

{% block tittle %}
    Inicio
{% endblock %}

{% block spaceApp %}
    <div class="col-md-8 col-xl-3 col-lg-4 inputsSpace container">
        <div class="titleSpace"><h3>AIUDA</h3></div>
        <div class="row">
            <div class="col-3 centerDiv">
                <select class="seleccionar_formula">
                    <option value="none">--------</option>
                    <option value="interLineal">Interpolacion lineal</option>
                    <option value="interNewton">Interpolacion de Newton</option>
                    <option value="interLagrange">Interpolacion de LaGrange</option>
                    <option value="interCuadratica">Interpolacion Cuadratica</option>
                </select>
            </div>
        </div>
        <div class="row inputsGroup">
            <!-- Aqui estan los inputs -->
            <label for="a">
                a: <input type="number" class="inputVar" id="a">
            </label>
            <label for="b">
                b: <input type="number" class="inputVar" id="b">
            </label>
            <label for="c">
                c: <input type="number" class="inputVar" id="c">
            </label>
            <label for="d">
                d: <input type="number" class="inputVar" id="d">
            </label>
            <label for="e">
                e: <input type="number" class="inputVar" id="e">
            </label>
            <label for="f">
                f: <input type="number" class="inputVar" id="f">
            </label>
            <label for="g">
                g: <input type="number" class="inputVar" id="g">
            </label>
            <label for="h">
                h: <input type="number" class="inputVar" id="h">
            </label>
            <button class="calcular">CALCULAARRR</button>
        </div>

    </div>

    <div class="col-xxl-6 col-xl-9  resultsSpace container-fluid">
        <div class="titleSpace">
            <h3> RESULTADOS</h3>
        </div>
        <div class="container">
            <div class="reulstados">
            </div>
        </div>
    </div>
{% endblock %}