.navColorText a
{
    color: white;
    font-size: 18px;
}

.banner
{
    width: 100vw;
    height: 22vh;
    background-image: url("../img/1145374.jpg");
    background-position: center;
}
.cristal
{
    background: rgba(115, 115, 115, 0.38);
    backdrop-filter: blur(1px);
}

.inputsSpace
{   margin-top: 125px;
    margin-left: auto;
    margin-right:5% ;
    height: 55vh;
    background: white;
    border-radius: 10px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 0;

}
.resultsSpace
{
     margin-top: 125px;
    margin-left: 5%;
    margin-right:auto ;
    height: 55vh;
    background: white;
    border-radius: 10px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 0;

}
.inputVar
{
    margin-top: 10px;
}
.titleSpace
{
    color: white;
    text-align: center;
    background: #2c3034;
    border-radius: 10px 10px 30px 0;
}
.inputsGroup
{
    margin-left: 20%;
}


input
{
    border: none;
    border-radius: 10px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.bg-img
{
    background-image: url("../img/Fondo.jpg");
    background-size: cover;
}
.decorationBar
{
    height: 3vh;
}
.principalLogo
{
    height: 30vh;
    width: 30vh;
    background: white;
    border-radius: 50%;
    margin: 14% auto 10% auto;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.logo_img img
{
    width: 60%;
    margin: 20% 10% 10% 20%;


}
.titulo
{
    font-size: 48px;
    margin-top: 2%;
    text-align: center;
    letter-spacing: 0.8em;
    font-family: 'Montserrat Light';

}